input, select{
	width: 200px;
}
#unirse{
	width: 75px;
}
label{
	width: 100px;
	text-align: right;
}
td, th{
	text-align: center;
	vertical-align: center;
}
#img{
	width: auto;
	height: 50px;
}

#add{
	height: 35px;
	width: auto;
}

.tbl_producto{
	background-color: rgba(255,255,255, 0.5);
	width: 100%;
}

#create_form{
	width: 40%;
	height: 100%;
	background-color: rgba(255,255,255, 0.5);
	text-align: center;
	margin: auto;
	padding-top: 8%;
}
#create_form h1{
	padding-top: 0px;
}